
.footer {
    background-color: black;
    padding: 40px 80px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.footer-column {
    flex: 1;
    min-width: 200px;
    margin-bottom: 20px;
}

.footer h3 {
    color: white;
    font-size: 28px;
    font-family: "Metamorphous", serif;
    margin-bottom: 10px;
}



.footer a {
    padding: 5px;
    display: block;
    color: white;
    text-decoration: none;
    margin-bottom: 8px;
    font-size: 14px;
}

.footer a:hover {
    background-color: white;
   color: black;
}

.footer-bottom {
    text-align: center;
    padding: 15px;
    background-color: black;
    font-size: 12px;
    color: white;
}

.social-icons {
    display: flex;
    width: 100px;
    gap: 15px;
    margin-top: 10px;
}

.social-icons img {
    background-color: white;
    width: 24px;
    height: 24px;
}