* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

body {
    background: rgb(255, 255, 255);
    background: linear-gradient(90deg, rgba(255, 255, 255, 1) 0%, rgba(127, 12, 235, 1) 100%);
    justify-items: center;
    padding-top: 100px;
}

#container{
    position: relative;
}

.login-content {
    display: flex;
    width: 850px;
    height: 500px;
    overflow: hidden;
    background-color: white;
    border-radius: 30px;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.1);
}


/* change-section  */

.change-section {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 1;
    width: 425px;
    height: 500px;
    border-radius: 20% 30px 30px 20%;
    background-color: rgba(127, 12, 235, 1);
    text-align: center;
    padding: 190px 20px;
    user-select: none;
    color: white;
    transition: all 0.5s ease-in-out;
}
.change-section.active{
    transform: translateX(-430px);
    border-radius: 30px 20% 20% 30px; 
}

.welcome {
    font-size: 40px;
    margin-bottom: 25px;
}

.welcome-message {
    margin: 0 15px;
    color: rgb(254, 254, 254);
    font-size: 20px;
    font-weight: lighter;
    margin-bottom: 30px;
}

.sign-in {
    padding: 10px 50px;
    border: 1px solid white;
    border-radius: 8px;
    text-transform: uppercase;
    color: white;
    font-weight: 700;
    cursor: pointer;
    background-color: rgb(127, 12, 235, 1);
}

.sign-in:hover {
    background-color: white;
    color: rgb(127, 12, 235);
    transition: 0.2s ease-in;
}

/* text-section */

.text-section {
    display: flex;
    overflow: hidden;
    width: 100%;
    height: 100%;
    padding: 50px 20px;
    text-align: center;
    user-select: none;
    color: rgb(0, 0, 0);

}

.left,
.right {
    width: 50%;
    height: 100%;
}

.social-links {
    margin: 20px 0;
    display: flex;
    justify-content: center;
    gap: 10px;
}

.icon {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    border: 1px solid rgba(0, 0, 0, 0.384);
    cursor: pointer;
    border-radius: 5px;
}

.icon:hover {
    transform: scale(1.1);
    transition: 0.3s ease;
}

.details-text {
    font-weight: 600;
    font-size: 17px;
    margin-bottom: 20px;
}

.input {
    width: 90%;
    padding: 12px 20px;
    background-color: rgba(128, 128, 128, 0.1);
    color: rgb(45, 45, 45);
    border: none;
    border-radius: 5px;
    margin-bottom: 12px;
}

.signup ,.signin {
    margin-top: 15px;
    padding: 10px 50px;
    color: white;
    cursor: pointer;
    background-color: rgb(127, 12, 235, 1);
    text-transform: uppercase;
    border: none;
    border-radius: 5px;
}

.signup:hover ,.signin:hover{
    background-color: white;
    color: rgb(127, 12, 235, 1);
    border: 1px solid rgb(127, 12, 235, 1);
    transition: 0.2s ease;
}

.forget-password{
    margin-top: 10px;
    cursor: pointer;
}

.forget-password:hover{
    transform: scale(1.05);
}

.signin{
    margin-top: 0px;
}