@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Open Sans", sans-serif;
}

a {
    text-decoration: none;
    color: black;
    display: flex;
    width: 80%;
    height: 30px;
    justify-content: center;

}

a:hover {
    border: 1px solid black;
    border-radius: 2px;
    background-color: black;
    color: white;
    padding-left: 10px;
    transition: 0.3s ease-in;
}

a:hover i {
    color: white;
}

body {
    padding: 10px;
}

i {
    color: black;
    font-size: 20px;
    margin-right: 10px;
}

#Search  {
    color: white;
    background-color: transparent;
    min-width: 130px;
    border: none;
    margin-top: -10px;
    border-bottom: 1px solid white;
    height: 25px;
    padding-left: 5px;
}

#Search:hover {
    border-radius: 2px;
    background-color: white;
    color: black;
    transition: 0.3s ease-in;
}

.sidebar {
    z-index: 10;
    border: 1px solid black;
    user-select: none;
    background-color: white;
    min-width: 50px;
    max-width: 50px;
    height: 98vh;
    border-radius: 5px;
    text-align: center;
    overflow: hidden;
    box-shadow: 2px 2px 10px gray;
}

.sidebar:hover {
    transition: 0.3s ease-in;
    min-width: 200px;
    max-width: 200px;
    align-items: start;
}

.sidebar:hover span {
    display: contents;
}

.search {
    display: flex;
    margin-top: 30px;
    padding-left: 12px;
    margin-bottom: 30px;
}

.sidebar:hover .search {
    text-align: start;
    margin-left: 8px;
}

span {
    display: none;
}


.nav-bar {
    margin-left: 5px;
    text-align: start;
    margin-top: 20px;
    padding-left: 10px;
}

.fa-box,
.fa-heart,
.fa-gear {
    margin-left: 2px;
}

.nav-bar a {
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: start;
    margin-bottom: 25px;
}

.dark-mode {
    position: absolute;
    bottom: 120px;
    width: 180px;
    height: 30px;
    display: flex;
    margin-left: 12px;
    padding-left: 5px;
    align-items: center;
    margin-top: 20px;
    color: black;
}

.dark-mode:hover {
    cursor: pointer;
    border-radius: 2px;
    padding-left: 10px;
    background-color: black;
    color: white;
    transition: 0.3s ease-in;
}

.dark-mode:hover i {
    color: white;
}

.profile {
    color: black;
    width: 180px;
    height: 30px;
    display: flex;
    align-items: center;
    text-align: start;
    position: absolute;
    margin-left: 12px;
    bottom: 40px;


}

.profile:hover {
    cursor: pointer;
    border-radius: 2px;
    padding-left: 10px;
    background-color: black;
    color: white;
    transition: 0.3s ease-in;
}

.profile:hover i {
    color: white;
}

.fa-user {
    margin-left: 5px;
    font-size: 20px;
}

nav a {
    display: block;
}

.logo {
    width: 100%;
    height: auto;
    background-color: white;
    padding-top: 20px;
    padding-bottom: 20px;
}

.sidebar:hover .logo {
    padding: 20px;
}

.logo img {
    width: 30px;
    height: 40px;
    transition: 0.1s ease;
}

.sidebar:hover .logo img {
    width: 40px;
    height: 50px;
}

.sidebar:hover .logo {
    text-align: center;
}

.logout {
    color: black;
    position: absolute;
    bottom: 80px;
    width: 170px;
    height: 30px;
    display: flex;
    align-items: center;
    margin-left: 18px;
    margin-top: 20px;
}


.logout:hover {
    cursor: pointer;
    border-radius: 2px;
    padding-left: 10px;
    background-color: black;
    color: white;
    transition: 0.3s ease-in;
}

.logout:hover i {
    color: white;
}